.main {
  padding-top: 80px;
  .banner {
    height: 680px;
    position: relative;
    margin-bottom: 120px;
    .thumnail {
      position: relative;
      overflow: hidden;
      height: 100%;
      img {
        @include midimg;
      }
    }
    .absone {
      position: absolute;
      bottom: -70px;
      width: 100%;
      z-index: 1;
    }
    .abstwo {
      position: absolute;
      bottom: -126px;
      width: 100%;
      z-index: 3;
    }

    @include sm {
      // CSS responsive tablet
      height: 450px;
      margin-bottom: 20px;
      .absone,
      .abstwo {
        display: none;
      }
    }
    @include xs {
      // CSS responsive mobile
      height: 370px;
    }
  }
  .outstanding {
    padding: 48px 0 62px;
    &_content {
      &-textbox {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-bottom: 35px;
        span {
          color: $dark-cl;
          font-size: 28px;
          font-style: normal;
          font-weight: 600;
          line-height: 42px;
          /* 150% */
          position: relative;
          display: inline-block;
          &::after {
            position: absolute;
            content: "";
            width: 100px;
            height: 3px;
            background: $green-cl;
            bottom: -8px;
            left: 0;
          }
        }
      }
      &-box {
        .flickity-viewport {
          height: 300px !important;
        }
        width: 100%;
        .item {
          width: calc(100% / 6 - 10px);
          margin-right: 11px;
          border-radius: 5px;
          background: $white-cl;
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
          .thumnail {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            position: relative;
            overflow: hidden;
            padding-bottom: 100%;
            img {
              @include midimg;
            }
          }
          @media (max-width: 1050px) {
            width: calc(100% / 5 - 10px);
          }
          .content {
            text-align: center;
            .name {
              margin-top: 16px;
              color: $dark-cl;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 18px;
              /* 128.571% */
            }
            .price-wrap {
              display: flex;
              align-items: center;
              gap: 10px;
              justify-content: center;
              padding: 12px 0 21px;
              a {
                &:hover {
                  transition: 0.4s;
                  background: $green-cl;
                  color: $white-cl;
                }
                transition: 0.4s;
                border-radius: 100px;
                border: 1px solid $green-cl;
                padding: 0 15px;
                color: $green-cl;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
    @include sm {
      // CSS responsive tablet
      &_content {
        &-textbox {
          justify-content: unset;
          span {
            font-size: 22px;
            &::after {
              width: 70px;
              bottom: 0;
            }
          }
        }
        &-box {
          .flickity-viewport {
            height: 315px !important;
          }
          .flickity-button {
            display: none;
          }
          .item {
            width: calc(100% / 3 - 10px);
          }
        }
      }
    }
    @include xs {
      &_content {
        &-box {
          .item {
            width: calc(100% / 2 - 10px);
          }
        }
      }
    }
    @media (max-width: 430px) {
      // CSS responsive mobile
      padding: 0;
      // &_content {
      //   &-box {
      //     .flickity-viewport {
      //       height: 350px !important;
      //     }
      //   }
      // }
    }
  }
  .about {
    background: linear-gradient(180deg, #edffea 0%, #fff 100%);
    padding: 100px 0;
    &_content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 100px;
      &-thumnail {
        padding-bottom: 100%;
        overflow: hidden;
        position: relative;
        img {
          @include midimg;
        }
      }
      &-textbox {
        .heading {
          position: relative;
          color: $dark-cl;
          font-size: 28px;
          font-style: normal;
          font-weight: 600;
          line-height: 42px;
          &::before {
            position: absolute;
            content: "";
            width: 40px;
            height: 4px;
            background: $green-cl;
            left: -50px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .text {
          color: $green-cl;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          &.--bold {
            margin-top: 8px;
            color: #80bf4c;
            font-weight: 700;
          }
          &.--sm {
            margin-bottom: 22px;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
          }
        }
        .desc {
          color: #666;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          margin-bottom: 8px;
        }
        .list-item {
          margin: 44px 0;
          display: flex;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            background: url("../../../img/Line 6.png");
          }
          align-items: center;
          justify-content: space-between;
          .item {
            background: $green-cl;
            width: 112px;
            height: 112px;
            border-radius: 50%;
            position: relative;
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
        .btn-more {
          display: flex;
          align-items: center;
          gap: 10px;
          width: max-content;
          span {
            color: $white-cl;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            /* 150% */
          }
          margin-top: 30px;
          padding: 12px 43px;
          border-radius: 5px;
          background: $green-cl;
        }
      }
    }
    @include sm {
      // CSS responsive tablet
      padding: 70px 0;
      &_content {
        grid-template-columns: 1fr;
        gap: 50px;
        &-thumnail {
          padding-bottom: 70%;
        }
      }
    }
    @include xs {
      // CSS responsive mobile
      padding: 50px 0;
      &_content {
        &-thumnail {
          padding-bottom: 100%;
        }
      }
    }
  }
  .price {
    &_content {
      padding: 46px 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 100px;
      &-form {
        .heading {
          color: $dark-cl;
          font-size: 28px;
          font-style: normal;
          font-weight: 600;
          line-height: 42px;
        }
        .desc {
          color: #666;
          font-size: 16px;
          font-style: italic;
          font-weight: 300;
          line-height: 24px;
          margin-bottom: 40px;
        }
        .form-group {
          input,
          textarea {
            color: #666;
            font-size: 16px;
            font-style: italic;
            font-weight: 300;
            line-height: 24px;
            margin-bottom: 16px;
            border-radius: 5px;
            border: 1px solid #b9b9b9;
            background: $white-cl;
            width: 100%;
            padding: 12px 24px;
            box-sizing: border-box;
          }
          textarea {
            resize: none;
            height: 150px;
          }
          button {
            box-sizing: border-box;
            border: none;
            color: $white-cl;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            border-radius: 5px;
            background: $green-cl;
            padding: 12px 33px;
          }
        }
      }
      &-thumnail {
        position: relative;
        overflow: hidden;
        padding-bottom: 100%;
        img {
          @include midimg;
        }
      }
    }
    @include sm {
      // CSS responsive tablet
      padding: 0;
      &_content {
        padding: 30px 0;
        grid-template-columns: 1fr;
        gap: 50px;
        &-thumnail {
          padding-bottom: 70%;
          grid-area: 1/1/2/2;
        }
      }
    }
    @include xs {
      // CSS responsive mobile
      &_content {
        &-thumnail {
          padding-bottom: 100%;
        }
      }
    }
  }
  .news {
    padding: 30px 0 70px;
    &_content {
      &-textbox {
        .heading {
          color: #333;
          text-align: center;
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .desc {
          margin-bottom: 41px;
          color: #666;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      &-box {
        .item {
          width: 100%;
          position: relative;
          margin-right: 20px;
          &::after {
            position: absolute;
            content: "";
            inset: 0;
            background: #0000003e;
          }
          .thumnail {
            position: relative;
            overflow: hidden;
            height: 300px;
            padding-bottom: 100%;
            img {
              @include midimg;
            }
          }
          .content {
            z-index: 10;
            position: absolute;
            color: $white-cl;
            bottom: 10px;
            padding: 0 10px;
            .name {
              font-family: "Roboto", sans-serif;
              color: $white-cl;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              text-transform: capitalize;
              line-height: normal;
            }
            .desc {
              margin-top: 8px;
              color: #eeeeee;
              text-align: justify;
              font-family: "Roboto", sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              @include overtext(4);
            }
          }
        }
      }
    }
  }
}
